@import './colors.less';

// Width
@width-app-left: 6.6%;

// Height
@height-toolbar: 54px;
@height-player: 60px;


// Shadow
@shadow-app: 8px;


// Radius
@radius-progress-border: 999px;
@radius-border: 8px;

@ease-out: cubic-bezier(.23, 1, .32, 1);
@ease-in-out: cubic-bezier(.77, 0, .175, 1);
@transition-theme: .22s @ease-out;
@transition-slow: .28s @ease-in-out;
@transition-normal: .22s @ease-out;
@transition-fast: .16s @ease-out;

@form-radius: 8px;
